<section class="flex flex-column gap-4" [attr.aria-label]="copy.title">
  <app-section-actions
    class="flex justify-content-end"
    [(isFiltersCollapsed)]="isFiltersCollapsed"
    [(quickSearchValue)]="quickSearchTerm"
    [(selectedColumns)]="selectedColumns"
    [addButtonAriaLabel]="copy.addAriaLabel"
    [availableColumns]="selectableColumns()"
    [columnsButtonAriaLabel]="copy.columnsButtonAriaLabel"
    [columnsInputId]="copy.columnsInputId"
    [filtersButtonAriaLabel]="copy.filtersButtonAriaLabel"
    [filtersSelected]="selectedFilters()"
    [hideExportButton]="true"
    [isSearchLoading]="isSearchIndicatorLoading()"
    [quickSearchAriaLabel]="copy.quickSearchAriaLabel"
    [quickSearchPlaceholder]="copy.quickSearchPlaceholder"
    (onAdd)="openCreateDialog()"
    (onQuickSearchChange)="onQuickSearchChange($event)"
  />
  @if (!isFiltersCollapsed()) {
    <app-search-filters
      [hideMoreFiltersButton]="true"
      [isDisable]="isLoading()"
      [isLoading]="isLoading()"
      (onReset)="reset()"
      (onSearch)="onFilterSearch()"
    >
      <app-responsible-authorization-filters-form [form]="filtersForm" [labels]="filterLabels" />
    </app-search-filters>
  }
  <app-responsible-authorizations-table
    [columns]="sortedSelectedColumns()"
    [first]="tableFirst()"
    [isInitialLoading]="isInitialTableLoading()"
    [isLoading]="isLoading()"
    [itemsList]="itemsList()"
    (onPageChange)="onPageChange($event)"
    (onSelectAction)="onTableAction($event)"
  />
  @if (isDialogVisible()) {
    <app-responsible-authorization-dialog
      [(visible)]="isDialogVisible"
      [canRestore]="selectedEntityCanRestore()"
      [form]="entityForm"
      [isDeleting]="isDeleting()"
      [isSaving]="isSaving()"
      [mode]="dialogMode()"
      (cancelEdit)="cancelEntityEdit()"
      (closed)="closeEntityDialog()"
      (deactivate)="deactivateSelectedEntity()"
      (edit)="startEntityEdit()"
      (restore)="restoreSelectedEntity()"
      (submitForm)="submitEntity()"
    />
  }
  @if (isDeleteDialogVisible()) {
    <app-confirmation-dialog
      confirmIcon="pi pi-trash"
      [(visible)]="isDeleteDialogVisible"
      [message]="deleteDialogMessage()"
      [title]="copy.deactivateTitle"
      (cancel)="closeDeleteDialog()"
      (confirm)="confirmDelete()"
    />
  }
</section>
