<aside
  [attr.id]="isDrawerVariant() ? 'sidebar-navigation-drawer-content' : 'sidebar-navigation-inline'"
  [class]="asideClass()"
  class="transition-[width] duration-300 bg-white h-full shadow-[8px_0_12px_-8px_#0000001A]"
>
  @if (isVisible()) {
    @if (!isDrawerVariant()) {
      <div
        class="w-full flex"
        [class.justify-content-center]="isCollapsed()"
        [class.justify-content-end]="!isCollapsed()"
      >
        <button
          pButton
          type="button"
          class="py-1 px-2 m-2"
          [outlined]="true"
          (click)="toggleCollapsed()"
          severity="secondary"
          [attr.aria-controls]="
            isTablet() ? 'sidebar-navigation-drawer' : 'sidebar-navigation-inline'
          "
          [attr.aria-expanded]="isToggleExpanded()"
          [attr.aria-label]="isCollapsed() ? sidebarCollapseOpenName : sidebarCollapseCloseName"
        >
          <app-svg-menu-collapsed />
        </button>
      </div>
    }

    <p-tieredMenu
      [styleClass]="tieredMenuClass()"
      [model]="menuItems()"
      [ariaLabel]="navigationAriaLabel"
      [autoDisplay]="true"
    >
      <ng-template let-isParentMenu="hasSubmenu" let-menuItem pTemplate="menuItem">
        @if (isParentMenu) {
          <a
            class="p-tieredmenu-item-link sidebar-menu-link"
            pRipple
            [attr.aria-label]="menuItem.label"
            [attr.aria-haspopup]="true"
            tabindex="0"
            [class.p-menuitem-active]="isFragmentActive(menuItem.fragment)"
            [pTooltip]="menuItem.label"
            [tooltipDisabled]="!isCollapsed()"
            tooltipEvent="both"
            tooltipPosition="right"
            (focus)="onParentMenuFocus($event)"
          >
            <span class="p-tieredmenu-item-icon sidebar-menu-icon" [class]="menuItem.icon"></span>
            <span class="p-tieredmenu-item-label sidebar-menu-label">{{ menuItem.label }}</span>
            <i class="pi pi-angle-right p-tieredmenu-submenu-icon sidebar-submenu-icon"></i>
          </a>
        } @else {
          <a
            class="p-tieredmenu-item-link sidebar-menu-link"
            pRipple
            [class.pointer-events-none]="menuItem.disabled"
            [routerLink]="menuItem.routerLink"
            [attr.aria-label]="menuItem.label"
            routerLinkActive="p-menuitem-active"
            [pTooltip]="menuItem.label"
            [tooltipDisabled]="!isCollapsed()"
            tooltipEvent="both"
            tooltipPosition="right"
            (click)="onLeafMenuClick()"
          >
            <span class="p-tieredmenu-item-icon sidebar-menu-icon" [class]="menuItem.icon"></span>
            <span class="p-tieredmenu-item-label sidebar-menu-label">{{ menuItem.label }}</span>
          </a>
        }
      </ng-template>
    </p-tieredMenu>
  }
</aside>
