<section class="application-infrastructure-list">
  <div class="application-infrastructure-list__header">
    <h3>{{ title() }}</h3>
    <app-section-actions
      [(selectedColumns)]="selectedColumns"
      [availableColumns]="selectableColumns()"
      [addButtonAriaLabel]="addAriaLabel()"
      [disableAddButton]="isReadOnly()"
      [filtersButtonAriaLabel]="filtersButtonAriaLabel()"
      [filtersSelected]="filtersSelected()"
      [hideExportButton]="true"
      [hideAddButton]="!showActions()"
      [hideQuickSearch]="true"
      [(isFiltersCollapsed)]="isFiltersCollapsed"
      (onAdd)="onAdd()"
    />
  </div>

  @if (!isFiltersCollapsed()) {
    <app-search-filters
      [hideMoreFiltersButton]="true"
      [isLoading]="isLoading()"
      (onSearch)="onFilterSearch()"
      (onReset)="onFilterReset()"
    >
      <ng-content />
    </app-search-filters>
  }

  <app-application-infrastructure-table
    [columns]="visibleColumns()"
    [first]="first()"
    [itemsList]="itemsList()"
    [isLoading]="isLoading()"
    [isReadOnly]="isReadOnly()"
    [showActions]="showActions()"
    (onPageChange)="onPageChange($event)"
    (onSelectAction)="onTableAction($event)"
  />
</section>
