<form appSearchFilterGrid [formGroup]="form()">
  <div>
    <p-floatlabel class="w-full">
      <input id="roles-filter-name" class="w-full" type="text" formControlName="name" pInputText />
      <label for="roles-filter-name">{{ labels().name }}</label>
    </p-floatlabel>
  </div>
  <div>
    <p-floatlabel class="w-full">
      <input
        id="roles-filter-name-es"
        class="w-full"
        type="text"
        formControlName="nameEs"
        pInputText
      />
      <label for="roles-filter-name-es">{{ labels().nameEs }}</label>
    </p-floatlabel>
  </div>
  <div>
    <p-floatlabel class="w-full">
      <p-select
        inputId="roles-filter-status"
        styleClass="w-full"
        formControlName="status"
        ariaLabelledBy="roles-filter-status-label"
        [options]="statusOptions"
        [showClear]="true"
        optionLabel="label"
        optionValue="value"
      />
      <label id="roles-filter-status-label" for="roles-filter-status">
        {{ labels().status }}
      </label>
    </p-floatlabel>
  </div>
</form>
